/* 
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
} */


.mainTitle {
  font-family: 'Lora', serif;
  /*font-family: 'Merriweather', serif;*/
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.05em;
  /*color: #20A8F5;*/
  color: #66ff99;
}